.cardsDiv{
    /* margin: 0px !important; */
    /* position: absolute !important; */
   /* margin: auto !important; */
  /* top: 0 !important; */
  /* right: 0 !important; */
  /* bottom: 0 !important; */
  /* left: 0 !important;   */
  /* height: 375px; */
  /* width:  95% ; */
  /* max-width:  500px ;  */
  margin-top: -25px !important;
  /* margin-bottom: 100% !important; */
  /* flex-grow: 1 !important; */
  /* justify-content: center !important; */
  /* padding: 0px !important; */
  /* margin: 0px !important; */
}

/* @media (max-width: 359px) { .cardsDiv{ 
     
    height: 450px;
    box-shadow: none; 
    margin-left: -10px !important;
  }
  } */