.cardsDiv{ 
  margin: 0px auto !important;
  padding: 0px !important;  
  margin-top: -25px !important;
  display: flex;
  align-items: center; 
  justify-content: center;
}

@media (max-width: 360px) { .paperDiv{ 
     
    /* height: 450px; */
    /* box-shadow: none;  */
    /* margin-left: -10px !important; */
    width: 90% !important;

  }
  }